<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
  <li class="list-group-item"><%= review.rating %> - <%= review.content %></li>
  <% end %>
</ul>
<br>

<i class="fa-solid fa-table-list"></i> <%= link_to "See all restaurants", restaurants_path %>
